{% extends 'blog.html.twig' %}

{% block title %}
    {{ parent() }} - {{ title }}
{% endblock %}

{% block h1 %}
    {{ parent() }} - {{ title }}
{% endblock %}

{% block articles %}
    {% for article in articles %}
        {{ include('article/_view_in_list.html.twig', {'article': article}) }}
    {% else %}
        <h3 class="text-center">{{ 'blog.favourite.nothing_to_show'|trans }}</h3>
    {% endfor %}
{% endblock %}